
/* general */
h2{
	margin-top: 0;
}

/* try to fix the bug of anchor position*/
/*
:target:before{
	content:"";
	display:block;
	height: 55px;
	margin: -55px 0 0;
}
*/

#main-content{
	position: absolute;
	top: 550px;
}

/* section-topbar */
#section-topbar{
	background: #111;
}

.navbar-black {
	background: #111;
	margin-bottom: 0;
}


.navbar-black .navbar-nav>li>a{
	font-size: 20px;
}

.navbar .navbar-nav{	
	display: inline-block;
	float: none;
}

.navbar{
	text-align: center;
}

/* section-bigtitle */

#section-bigtitle{
	background: url("img/DSCN9293.JPG");
	height: 550px; 
	width: 100%;
	z-index: -1;
	position: fixed;
}


#section-bigtitle .container{
	padding: 0;
	height: inherit;
}

#section-bigtitle .row{
	height: inherit;
	display: flex;
	align-items: center;	
}

#section-bigtitle h1, #section-bigtitle h2{
	vertical-align: middle;
	text-align: center;
	color: #FFFFFF;

}


/* section-about */
#section-about{
	color: white;
	padding:40px 0;
	background: #323232;
}

.about-content>p{
	color: #FFFFFF;
}

/* section-education */
#section-education{
	padding: 40px 0;
	background: #FFFFFF;
}

#section-education p{
	margin-bottom: 0;
}

#section-education .item{
	margin-bottom: 30px; 
}

.font-red{
	color: red;
}

/* section-skills */
#section-skills{
	background: #FFFFFF;
}
.progress-bar-label{
	text-align: left;
	padding-left: 10px;
}

.progress-bar-blue{
	background: #4B749F;
}

.progress-bar-deepblue{
	background: #5D57AA;
}

.progress-bar-green{
	background: #46A385;
}

.progress-bar-lightred{
	background: #F07384;
}

.progress-bar-orange{
	background: #FDAC78;
}

.progress-bar-purple{
	background: #BF5BA1;
}

/* section-copyright */
#section-copyright{
	background: #000000;
}
#section-copyright p{
	margin-top: 26px;
	color: #FFFFFF;
}

#section-copyright .navbar{
	margin-bottom: 0;
}